body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}


.login-container {
    width: 50%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #003d80; 
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #003d80;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; 
}

button:hover {
    background-color: #0056b3; 
}

.register-link a {
    display: inline-block;
    margin-top: 15px;
    color: #003d80;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #0056b3; 
}