#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: auto;
}

.button {
    color: #000000;
    background-color: #EBC753;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f1c40f;
}
