
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    width: 5%;
}

.button{
    background-color: #dddd;
    color: black;
    border: none;
    cursor: pointer;
}